@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="" @onclick="GoHome" @onclick:preventDefault><span class="oi oi-home" aria-hidden="true"></span> Fiducia Admin</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/legal-entities">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> ЮЛ
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/osa-meetings">
                <span class="oi oi-calendar" aria-hidden="true"></span> ОСА
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="oi oi-people" aria-hidden="true"></span> Пользователи
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/roles">
                <span class="oi oi-list" aria-hidden="true"></span> Роли
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="audit">
                <span class="oi oi-shield" aria-hidden="true"></span> Журнал ИБ
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sent-notifications">
                <span class="oi oi-bell" aria-hidden="true"></span> Отправленные уведомления
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-cog" aria-hidden="true"></span> Система
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/board-of-directors">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Совет директоров
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/org-templates">
                <span class="oi oi-project" aria-hidden="true"></span> Шаблоны
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void GoHome()
    {
        Navigation.NavigateTo("/main");
    }
}
